@using Blazored.Toast
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.Blazored"
                ShowProgressBar="@true"
                ShowCloseButton="@true"
                MaxToastCount="3">
    <CloseButtonContent>
        <i class="cursor-pointer fs-5 ti ti-x"></i>
    </CloseButtonContent>
</BlazoredToasts>

<SidebarMenu MenuItems="MenuItems"></SidebarMenu>

<div class="page-wrapper">
    <HeaderMenu></HeaderMenu>

    <SidebarMenuHorizontal MenuItems="MenuItems"></SidebarMenuHorizontal>

    <div class="body-wrapper">
        <div class="container-fluid">
            @Body
        </div>
    </div>

    <LayoutSettingPanel CurrentSettings="Settings"></LayoutSettingPanel>
</div>

<div class="dark-transparent sidebartoggler"></div>
